.btn-outline:hover,
.btn-outline:focus {
  color: #9aecea;
}

/* Header */
header {
  display: flex;
  align-items: center; /* align vertical */
  background-color: #9aecea;
  height: 100vh;
  min-height: 400px;
  padding-top: 60px;
}

header .container {
  padding: 0 10%;
  width: 100%;
}

header span {
  color: #1a242f;
}

header hr.power-off::after {
  background-color: #9aecea;
}

/* Navbar */
.navbar-default {
  background-color: #233140;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9aecea;
}

/* Portfolio */
#portfolio,
#portfolio .star-primary:after {
  color: #1a242f;
}

#portfolio .star-primary {
  border-color: #1a242f;
}

#portfolio .portfolio-item .portfolio-link {
  height: 260px;
  display: flex;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background-color: rgba(154, 236, 234, 0.9);
  z-index: 3;
}

#portfolio .portfolio-item .portfolio-link img {
  margin: auto;
  max-height: 100%;
}

/* Modales */
.modal-body .fa:before {
  color: #2c3e50;
}

.modal-body .btn-social {
  border-color: #2c3e50;
}

.modal-body .btn-social:hover {
  border-color:#fff;
}

/* Scroll-top */
.scroll-top .btn-primary,
.scroll-top .btn-primary:focus {
  background-color: #233140;
  border-color: #2c3e50;
}

.scroll-top .btn-primary:hover {
  background-color: #2c3e50;
  border-color: #233140;
}

.scroll-top .fa-chevron-up {
  position: relative;
  right: 2px;
  bottom: 3px;
}

/* Footer */
.footer-above .row {
  display: flex;
}

#footer-utn-logo {
  align-self: center;
}

#copyright {
  text-align: center;
  width: 100%;
}

/* Responsive design */
@media(max-width: 1200px) {
  #portfolio .portfolio-item .portfolio-link {
    height: 211.84px;
  }
}

@media(max-width: 990px) {
  #portfolio .portfolio-item .portfolio-link {
    height: 158.88px;
  }
}

@media(max-width: 767px) {
  #portfolio .portfolio-item .portfolio-link {
    height: 288.88px;
  }

  .footer-above .row {
    flex-direction: column;
  }

  #footer-contacto {
    order: 1;
  }

  #footer-utn-logo {
    order: 2;
  }

  #footer-social {
    order: 3;
  }
}
