.modal-body .fa:before {
	color: #2c3e50;
}

.modal-body .btn-social{
	border-color: #2c3e50;
}

.modal-body .btn-social:hover{
	border-color:#fff;
}

#about , header{
	background-color:#9aecea;
}

hr.power-off:after{
	background-color: #9aecea;
}

#about p {
	color: #1a242f;
}

.navbar-default {
	background-color: #233140;
}

header span {
	color: #1a242f;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #9aecea;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #9aecea;

}

.btn-outline:hover,
.btn-outline:focus {
	color: #9aecea;
}

#portfolio {
	color: #1a242f;
}

#portfolio .star-primary {
	border-color: #1a242f;
}

#portfolio .star-primary:after {
	color: #1a242f;
}

#portfolio .portfolio-item .portfolio-link {
	height: 260px;
	display: flex;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background-color: rgba(154, 236, 234, 0.9);
	z-index: 3;
}

#portfolio .portfolio-item .portfolio-link img {
	margin: auto;
	max-height: 100%;
}

.footer-above .row {
	display: flex;
}

#footer-utn-logo {
	align-self: center;
}

#copyright {
	text-align: center;
	width: 100%;
}

@media(max-width: 1200px) {
	#portfolio .portfolio-item .portfolio-link {
		height: 211.84px;
	}
}

@media(max-width: 990px) {
	#portfolio .portfolio-item .portfolio-link {
		height: 158.88px;
	}
}

@media(max-width: 767px) {
	#portfolio .portfolio-item .portfolio-link {
		height: 288.88px;
	}

	footer .row {
		flex-direction: column;
	}

	#footer-contacto {
		order: 1;
	}

	#footer-utn-logo {
		order: 2;
	}

	#footer-social {
		order: 3;
	}
}

section h2{
	color: #1a242f;
}

#chamilo .img-responsive{
	padding: 10% 0%;


}